.app-footer {
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

.app-footer p {
  margin: 0;
  font-size: 0.9rem;
}